/* ACTOR CARD */
.card-actor:hover {
	opacity: 0.8;
	cursor: pointer;
}
.card-actor {
	display: inline-block;
	margin: 10px 3px;
}

.card-actor img {
	border-radius: 3px;
	width: 138px;
	height: 175px;
}

.card-actor span {
	color: #bbb;
}

.card-actor p,
.card-actor {
	text-align: center;
	font-weight: 700;
	width: 138px;
}

.card-actor p {
	margin: 5px 0;
}
