/* MOVIE CARD */
.movie-card {
	margin: 5px;
	cursor: pointer;
}

.movie-card img {
	border-radius: 3px;
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
	width: 185px;
	height: 278px;
}

.movie-card .movie-content {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	margin-top: -130px;
	margin-left: 92px;
	width: 100px;
	font-size: 17px;
	color: #000;
	line-height: 30px;
}

.movie-card:hover img {
	opacity: 0.2;
}

.movie-card:hover .movie-content {
	opacity: 1;
}

@media (max-width: 450px) {
	.movie-card img {
		width: 140px;
		height: 210px;
	}

	.movie-card .movie-content {
		margin-top: -100px;
		margin-left: 69px;
	}
}
