/* SEARCH FORM */
.form {
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form img {
	width: 130px;
	height: auto;
	margin: 0 auto;
}

.form h1 {
	padding: 5px 0 15px 0;
}

.search {
	margin-top: 10px;
}

.btn {
	border-radius: 0 3px 3px 0;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	background: #2b2b2b;
	padding: 18px;
}

.btn:hover {
	opacity: 0.9;
}
