/* Upcoming */
.upcoming,
.top-rated {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.upcoming a,
.top-rated a {
	margin: 0 auto;
}

.top-rated {
	margin-bottom: 50px;
}

.angled-hero-header {
	background-color: #f5cd46;
	position: absolute;
	display: block;
	width: 100%;
	height: 2000px;
	left: 0;
	transform: skewY(-6deg);
	transform-origin: 50%;
	z-index: -1;
	bottom: 400px;
}
.form {
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form img {
	width: 130px;
	height: auto;
	margin: 0 auto;
}

.form h1 {
	padding: 5px 0 15px 0;
}

.search {
	margin-top: 10px;
}
