/* GLOBAL */
body {
	font-size: 14px;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

main,
.container {
	height: 100%;
}

.flex-container {
	display: flex;
	align-items: center;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 30px;
	border-radius: 3px 3px 0 0;
}

h1,
h2 {
	text-align: center;
	padding: 45px 0;
	margin: 0;
	text-transform: uppercase;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #333;
}

p {
	line-height: 20px;
	text-align: justify;
}

/* FORM */
input {
	border: 1px solid #fafafa;
	height: 30px;
	width: 200px;
	border-radius: 3px 0 0 3px;
	padding: 10px;
	font-size: 14px;
}

input:focus {
	outline: none;
}

/* MEDIAS QUERIES */
@media (max-width: 660px) {
	.flex-container {
		display: block;
		text-align: center;
	}

	.content {
		padding: 30px 0 0 0;
	}

	.content li span {
		display: block;
	}

	.content p,
	#casting h2,
	#similar h2 {
		text-align: center;
	}
}

@media (max-width: 435px) {
	.menu {
		display: none;
	}
}
