/* GLOBAL */
body {
	font-size: 14px;
	background-color: #f2f2f2;
}

main,
.container {
	height: 100%;
}

.flex-container {
	display: flex;
	align-items: center;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 30px;
	border-radius: 3px;
}

h1,
h2 {
	text-transform: uppercase;
}

h1,
h2 {
	text-align: center;
	padding: 45px 0;
	margin: 0;
}

.section h2 {
	text-align: left;
	padding: 20px 0;
}

ul {
	padding: 0;
	margin: 0;
}

.content li {
	list-style: none;
	padding-bottom: 8px;
}

.content li span {
	color: #bbb;
}

a {
	text-decoration: none;
}

p {
	line-height: 20px;
	text-align: justify;
}

.section {
	margin: 50px 0;
}

input:focus {
	outline: none;
}

/* HEADER */
header {
	background: #f5cd46;
	margin-left: -30px;
	margin-right: -30px;
	display: flex;
	justify-content: center;
	text-align: center;
}

header img {
	width: 130px;
	height: auto;
	margin-top: 40px;
}

header a {
	color: #000;
}

header h1 {
	padding: 0 0 40px 0;
}

/* CONTENT */
.affiche {
	height: 280px;
	border-radius: 3px;
}

.content {
	padding-left: 20px;
}

/* MENU */
.menu {
	margin: 0 auto 50px;
	text-align: center;
}

.menu a,
.menu a:visited {
	color: #000;
}

.menu li {
	display: inline;
	padding: 15px 20px;
	border-bottom: 1px solid #f0f0f0;
	font-weight: 600;
}

.menu li:hover {
	cursor: pointer;
	background-color: #f0f0f0;
}

.menu .selected {
	border-bottom: 3px solid #fccc02;
}

/* BUTTONS */
.group-btn {
	padding: 30px 0;
}

.btn {
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	margin: 5px;
	font-size: 13px;
	background: #2b2b2b;
	padding: 18px;
}

.btn:hover {
	opacity: 0.9;
}

.black {
	background-color: #2b2b2b;
	color: #fff;
}

.yellow {
	background-color: #fccc02;
}

.gray {
	background-color: #ebeff0;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* CASTING */
.cardActor:hover {
	opacity: 0.8;
	cursor: pointer;
}
.cardActor {
	display: inline-block;
	margin: 10px 3px;
}

.cardActor img {
	border-radius: 3px;
	width: 138px;
	height: 175px;
}

.cardActor span {
	color: #bbb;
}

.cardActor p,
.cardActor {
	text-align: center;
	font-weight: 700;
	width: 138px;
}

.cardActor p {
	margin: 5px 0;
}

/* BANDES ANNONCES */
.cardTrailer {
	width: 208px;
	margin: 10px 0;
}

.cardTrailer:hover {
	opacity: 0.8;
	cursor: pointer;
}

.cardTrailer p {
	font-weight: 700;
	margin: 117px 0 0 0;
}

.cardTrailer .view {
	font-weight: 400;
	font-size: 12px;
	color: #383838;
}

.cardTrailer img {
	position: absolute;
}

.cardTrailer .duration {
	font-weight: 400;
	font-size: 11px;
	color: #fff;
	background-color: #000;
	padding: 2px 4px;
	position: absolute;
}

/* FORM */
input {
	border: 1px solid #fafafa;
	height: 30px;
	width: 200px;
	border-radius: 2px;
	padding: 10px;
	font-size: 14px;
}

/* FOOTER */
.footer {
	margin: 0 auto;
	max-width: 1084px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	background: #333;
	padding: 30px 0;
	color: #fff;
}

.footer a {
	color: #fccc02;
}

/* MEDIAS QUERIES */
@media (max-width: 660px) {
	.flex-container {
		display: block;
		text-align: center;
	}

	.content {
		padding: 30px 0 0 0;
	}
}
